@using Reservation.Models
@model Reservation

@{
    ViewData["Title"] = "Удалить?";
}

<h3>Удалить?</h3>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" />
        <button class="btn btn-default" asp-action="Index">Отмена</button>
    </form>
</div>