@{
    ViewData["Title"] = "Contact";
}
<h1>Наши странички в ВК</h1>

<p><a href="https://vk.com/the___fox">Петрова Оля</a></p>
<p><a href="https://vk.com/smelenyeva">Мелентьева Александра</a></p>
<p><a href="https://vk.com/id23301821">Сергеева Оля</a></p>
