@model LoginModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{

    <table class="table table-bordered">
        <tr>
            <td><p>@Html.LabelFor(x => x.Login)</p></td>
            <td><p>@Html.EditorFor(x => x.Login)</p></td>
        </tr>

        <tr>
            <td><p>@Html.LabelFor(x => x.Password)</p></td>
            <td><p>@Html.EditorFor(x => x.Password, new { type = "password" })</p></td>
        </tr>

        <tr><td><input type="submit" value="login" /></td><td></td></tr>

    </table>
}